@model List<QuestionCourseExamReadVm>
<div class="container mt-5 align-content-center" style="width:1000px">
<h2>Exam Questions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Content</th>
            <th>Marks</th>
            <th>Question Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>
                <td>@exam.Content</td>
                <td>@exam.Marks</td>
                <td>@exam.QuestionType</td>
                <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor") || User.IsInRole("Student"))
                        {

                            <a asp-action="Details" asp-route-id="@exam.Id" class="btn btn-info">Details</a> 
                              @if (User.IsInRole("Admin") || User.IsInRole("Instructor")){
                            <a asp-action="EditExam" asp-route-id="@exam.Id" class="btn btn-warning">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@exam.Id" class="btn btn-danger">Delete</a>
                              }
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>

<div>
     @if (User.IsInRole("Admin") || User.IsInRole("Instructor")){
    <a asp-action="CreateExam" class="btn btn-success">Add New Question</a>
     }
    <a asp-action="SelectCourseForExam" class="btn btn-secondary">Back to Select Course</a>
</div>
</div>

